{{define "title"}}About{{end}}

{{define "main"}}
  <div>
   <h2>About</h2>
   <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vulputate leo convallis venenatis laoreet. Aenean fermentum, ante nec mattis venenatis, nibh nisi consequat diam, posuere bibendum sem libero non ante. Praesent eget tempus felis. Proin rhoncus tellus eu varius feugiat. In auctor nec justo eu dignissim. Aenean velit dui, convallis sed sapien at, tristique dignissim nunc. Proin dolor orci, pellentesque quis blandit ut, aliquam eget tellus.
   </p>
  </div>
{{end}}