{{define "title"}}About{{end}}

{{define "main"}}
  <div>
   <h2>Account View</h2>
  </div>
  <div>
    {{with .User}}
    <table>
        <tr>
          <td>Name</td>
          <td>{{.Name}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{.Email}}</td>
        </tr>
        <tr>
          <td>Joined</td>
          <td>{{humanDate .Created}}</td>
        </tr>
        <tr>
          <td>Password</td>
          <td><a href="/account/password/update">Change password</a></td>
        </tr>
    </table>
    {{end}}
  </div>
{{end}}

