{{define "title"}}About{{end}}

{{define "main"}}
  <div>
   <h2>Account View</h2>
  </div>
  <div>
    <table>
        <tr>
          <td>Name</td>
          <td>{{.User.Name}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{.User.Email}}</td>
        </tr>
        <tr>
          <td>Joined</td>
          <td>{{humanDate .User.Created}}</td>
        </tr>
    </table>
  </div>
{{end}}

